html, body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@font-face {
  font-family: 'Mark';
  src: url('https://cdn.aircall.io/fonts/33182D_1_0.eot');
  src:  url('https://cdn.aircall.io/fonts/33182D_1_0.woff2') format('woff2'), 
        url('https://cdn.aircall.io/fonts/33182D_1_0.woff') format('woff'),
        url('https://cdn.aircall.io/fonts/33182D_1_0.ttf') format('truetype'),
        url('https://cdn.aircall.io/fonts/33182D_1_0.svg#wf') format('svg'),
        url('https://cdn.aircall.io/fonts/33182D_1_0.eot?#iefix') format('embedded-opentype');
}

body {
  background: #000;
  font-family: 'Mark', Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1;
}

body:before {
  content: '';
  position: absolute;
  background-image: url('https://www.gstatic.com/prettyearth/assets/full/1014.jpg');
  background-size: cover;
  top: 0; left: 0; right: 0; bottom: 0;
}

body:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(88, 88, 88, 0.5);
  z-index: 10;
}

ul {
  list-style-type: none;
}

* {
  outline: none;
}

.clear {
  clear: both;
}

.container {
  position: fixed;
  width: 360px; height: 700px;
  z-index: 100;

  top: 50%; left: 50%;
  margin-top: -350px;
  margin-left: -180px;

  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 #ccc;
}

header svg {
  display: block;
  width: 100%; height: 100%;
}

.container-view {
  position: relative;
  height: 560px;
  overflow: auto;
}

.screen-title {
  display: block;
  padding-top: 20px;
  padding-left: 35px;
  font-size: 18px;
  color: #999;
}

.screen-back {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  color: #bbb;
  font-size: 16px;
  text-decoration: none;
}

.screen-loading-container {
  display: block;
  padding-top: 210px;
  text-align: center;
}

.screen-empty-list-container,
.screen-error-container {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.screen-empty-list-container span,
.screen-error-container span {
  display: block;
  padding-bottom: 10px;
}
